@import "tailwindcss";

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel-scroll 35s linear infinite;
}

:root {
  /* colours for the booking page */
  --booking-page-background: #e5e5e5;
  --booking-page-form-bcakground: #fff;

  /* colours for the cart page */
  --cart-page-background: ##e5e5e5;
  --cart-page-form-background: #fff;
  --cart-page-empty-cart-text: ##4b5563;
  --cart-page-item-price-text: #4b5563;
  --cart-page-remove-button-text: #ef4444;

  /* colours for the custom orders page */
  --custom-orders-page-background: #e5e5e5;
  --custom-orders-page-form-background: #fff;
  --custom-orders-page-name-label-outline: #eab308;
  --custom-orders-page-contact-information-label-outline: #eab308;
  --custom-orders-page-order-details-label-outline: #eab308;
  --custom-orders-page-submit-button-background: #111827;
  --custom-orders-page-submit-button-hover: #000;
  --custom-orders-page-submit-button-text: #fff;

  /* colours for the layout.tsx file, this controls the colours for everything */
  --layout-background: #e5e5e5;

  /* colours for the page.tsx file, this is the home page */
  --home-page-background: #e5e5e5;
}